<!DOCTYPE html>
<html>
    <head>
        <title>Shopping List</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/app.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        

    </head>
    <body>
        <div id="landing-header">
            <h1>Welcome to Grocery Bag!</h1>
            <% if(!currentUser) { %>
                <a href="/login" class="btn green darken-3">Member</a>
                <a href="/register" class="btn green darken-3">Join Us</a>
            <% }  else { %>
                <a href="/login" class="btn green darken-3">Member</a>
                <a href="/register" class="btn green darken-3">Join Us</a>
                <a href="/items/<%= currentUser._id%>" class="btn green darken-3">Your List</a>
            <% } %>    
        </div>

        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>


<% include partials/footer %>


